

.resumeMainWrapper {
  max-width: 100%;
  max-height: 100%;
  min-width: auto;

  background: linear-gradient(90deg, hsla(265, 83%, 57%, 1) 0%, hsla(217, 100%, 61%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(265, 83%, 57%, 1) 0%, hsla(217, 100%, 61%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(265, 83%, 57%, 1) 0%, hsla(217, 100%, 61%, 1) 100%);
}  

.educationImageWrapper {
  left: 130px;
  top: -175px;
  position: relative;
}

.experienceImageWrapper {
  left: 130px;
  top: -175px;
  position: relative;
}

.education {
  background-color: #ffff;
  border-radius: 10px;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.education:hover {
  background-color: #4cc9f0;
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.experienceBriefCase {
  background-color: #ffff;
  background-size: cover;
  border-radius: 10px;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.experienceBriefCase:hover {
  background-color: #8338ec;
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.resume {
  padding: 0.7rem;
}

.wrapper {
  position: relative;
  padding: 3.125rem 0;
  margin-left: 8.9rem;
  overflow: hidden;
}

.resume h1 {
  text-transform: uppercase;
  color:#ffff;
  text-align: center;
  font-weight: 900;
  padding: 4rem 0;
  font-family: "Bangers", cursive, serif;
}

.resume h5 {
  color: #ffff;
  font-weight: 900;
}

.resume h6 {
  color: #ffbe0b;
  font-weight: 900;
}

.resume h3 {
  margin-top: 0.3125rem;
  color: #4cc9f0;
  font-weight: 900;
}
.p {
  color: #fff;
}

.wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 2%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: rgb(228, 228, 228);
  z-index: 1;
}

@media (min-width: 1200px) {
  .wrapper::before {
    left: 1.6%;
  }
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #000;
  background: #f1faee;
  margin-top: 0.625rem;
  z-index: 3;
}

.timelineBlock {
  width: calc(60% + 1rem);

  justify-content: space-between;
  clear: both;
}

.timelineContent {
  width: 100%;
  padding: 0 0.9375rem;
  color: #999;
  direction: ltr;
}

.educationButton {
  outline: none;
  background: transparent;
  border-color: transparent;
}

.experienceButton {
  outline: none;
  background: transparent;
  border-color: transparent;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/******************** MEDIA  **************************/
@media (min-width: 768px) {
  .resume .container {
    padding-left: 0;
   
  }

  .wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .resumeMainWrapper {
    height: auto;
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .educationImageWrapper {
    left: 130px;
    top: -75px;
    position: relative;
  }

  .experienceImageWrapper {
    left: 130px;
    top: -75px;
    position: relative;
  }

  .h1 {
    position: relative;
    left: 30px;
  }

  .timelineBlock {
    position: relative;
    left: 205px;
   
  }
}

/* Tablets and under */


@media (max-width: 768px) {
  .root .resumeMainWrapper,
  .resume,
  .wrapper,
  .resume h1,
  .resume h5,
  .resume h6,
  .resume h3,
  .p .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .resumeMainWrapper {
    height: auto;
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .educationImageWrapper {
    left: 130px;
    top: -75px;
    position: relative;
  }

  .experienceImageWrapper {
    left: 130px;
    top: -75px;
    position: relative;
  }

  .h1 {
    position: relative;
    left: 130px;
  }

  .timelineBlock {
    position: relative;
    left: 205px;
  }
}
@media (min-width: 501px) {
  .resumeMainWrapper {
    height: auto;
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .educationImageWrapper {
    left: 20px;
    top: -75px;
    position: relative;
  }

  .experienceImageWrapper {
    left: 20px;
    top: -75px;
    position: relative;
  }

  .h1 {
    position: relative;
    left: 20px;
  }

  .timelineBlock {
    position: relative;
    left: 100px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .resumeMainWrapper {
    height: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
  }

  .timelineBlock {
    position: relative;
    left: 55px;
  }

  .educationImageWrapper {
    left: 0px;
    top: -50px;
    position: relative;
  }

  .experienceImageWrapper {
    left: 0px;
    top: -50px;
    position: relative;
  }

  .h1 {
    position: relative;
    left: 0px;
  }
}
