.root {
  background: linear-gradient(#023047, #61a5c2);
}

.formWrapper {
  min-height: 100vh;
  align-items: center;
  padding: 5rem 3rem;
  background: url(Email.png);
  background-position: center;
  background-size: cover;
}

.formContainer {
  display: grid;
  width: 37.5rem;
  background: var(--white);
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.625rem rgba(17, 34, 68, 0.06);
}

.formCardGradient {
  height: 5rem;
  background: linear-gradient(#023047, #61a5c2);
}

.formContainer h2 {
  justify-self: center;
  margin: 2rem 0 0.5rem;
  background: linear-gradient(#023047, #61a5c2);
  color: #ffff;
  text-transform: uppercase;
  font-weight: 400;
}

.form {
  padding: 2rem;
}

.textInput {
  position: relative;
  margin-bottom: 1rem;
}

.textInput input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  border: 0.125rem solid var(--light-grey);
  border-radius: 0.1875rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-purple);
}

.placeholder {
  color: var(--grey);
  opacity: 0.5;
}

.textArea {
  position: relative;
  margin-bottom: 1rem;
}

.textArea textarea {
  display: block;
  width: 100%;
  border: 0.125rem solid var(--light-grey);
  border-radius: 0.1875rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-purple);
  height: 8rem;
}

.button {
  display: block;
  width: 100%;
  background: linear-gradient(
    to bottom left,
    #00afb9
  );
  border: none;
  border-radius: 0.1875rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.button:hover {
  background: linear-gradient(to bottom left, #023047, #61a5c2);
  color: #ffff;
}

.inputError {
  justify-self: center;
  color: tomato;
  font-weight: 400;
}

.successMessage {
  color: #fcfcfc;
  font-weight: 700;
  justify-self: center;
}

/******************* MEDIA QUERY **************************/
@media (max-width: 670px) {
  .form-container {
    width: 100%;
  }
}
