.formWrapper {
  position: relative;
  min-height: 100vh;
  align-items: center;
  width: 100%;
  background: #3a86ff;
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  top: 0px;
  bottom: 60px;
}
.imageWrapper {
  position: relative;
  top: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.formContainer {
  display: grid;
  position: relative;
  justify-content: center;
  width: 37.5rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(58, 134, 255, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 0.1875rem;
  margin: 0em 40em 0em 40em;
  top: 70px;
  animation: slideInFromLeft 3s;
}

.formCardGradient {
  height: 5rem;
  background: linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.formContainer h2 {
  justify-self: center;
  margin: 2rem 0 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  color: #ffff;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  font-family: "Bangers", cursive;
}

.form {
  padding: 2rem;
  width: 600px;
}

.textInput {
  position: relative;
  margin-bottom: 1rem;
}

.textInput input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  border: 0.125rem solid var(--light-grey);
  border-radius: 0.1875rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-purple);
}

.placeholder {
  color: var(--grey);
  opacity: 0.5;
}

.textArea {
  position: relative;
  margin-bottom: 1rem;
}

.textArea textarea {
  display: block;
  width: 100%;
  border: 0.125rem solid var(--light-grey);
  border-radius: 0.1875rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-purple);
  height: 8rem;
}

.buttons {
  display: block;
  position: relative;
  left: 115px;
  top: 0px;
  bottom: 0px;
  height: 75px;
  width: 300px;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
  border-radius: 10px;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: "Bangers", cursive;
  font-weight: bold;
  align-items: center;
  text-align: center;

  color: white;
  font-size: 2rem;
  font-weight: bold;

  outline: none;

  transition: background-color 250ms ease-in, border 250ms ease-in;
  cursor: pointer;
  padding: 2rem 3rem;

  &:hover {
    background: #18c98e;
  }
}

.send {
  position: relative;
  top: -27px;
  left: -20px;
}

.textSend {
  position: relative;
  top: -92.5px;
  right: -50px;
}

.check {
  width: 4rem;
  height: 4rem;
  fill: var(--clr-primary-hover);
  position: absolute;
  left: 2rem;
  top: 2rem;
  opacity: 0;
  z-index: -1;
  animation: animateCheck 4s ease-in forwards;
}

.inputError {
  justify-self: center;
  color: tomato;
  font-weight: 400;
  position: relative;
  margin-bottom: 0px;
}

.successMessage {
  color: #fcfcfc;
  font-weight: 700;
  justify-self: center;
}
#envelope {
  display: inline-block;
  margin: 0 0.5rem;

  .animate__animated_animate__tada {
    --animate-duration: 3s;
  }
}
.envelope {
  animation: animate 10s ease-in forwards;
}

#envelope .sendAnimation {
  animation: rollOut 6s ease-in forwards;
  display: inline-block;
}

.btnAnimation {
  animation: animate 4s ease-in forwards;
}

.checkAnimation {
  animation: animateCheck 4s ease-in forwards;
}
.emails {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  color: rgb(255, 0, 0);
  animation: leafanimation 6s linear;
}

.emails div {
  display: inline-block;
  width: 20px;
  height: 40px;
  vertical-align: middle;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
}

.littleEmail {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  justify-self: right;
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  color: rgb(255, 0, 0);
  animation: leafanimation 6s linear;
}

/* Animations */

@keyframes animate {
  0% {
    color: white;
    width: 16rem;
  }
  5% {
    width: 8rem;

    border: 8px solid var(--clr-accent100);
    background-color: linear-gradient(#023047, #61a5c2);
  }
  25% {
    border: 8px solid var(--clr-accent200);
    background-color: #2979ff;
  }
  55% {
    border: 8px solid var(--clr-accent300);
    background-color: #91f2d2;
  }
  75% {
    border: 8px solid var(--clr-accent400);
    background-color: #4dd0e1;
  }
  82% {
    border: 8px solid var(--clr-primary);
    background-color: #651fff;
  }

  88% {
    background-color: transparent;
  }

  100% {
    color: transparent;
    width: 8rem;
    background-color: transparent;
  }
}

@keyframes animateCheck {
  90% {
    display: block;
    transform: scale(1);
    opacity: 0;
  }
  95% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rollOut {
  0% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }

  50% {
    opacity: 0.5;
    transform: translateX(50%) rotate(60deg);
  }

  100% {
    opacity: 0;
    transform: translateX(100%) rotate(120deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/**********************Key Frames Leaf Animation **************************/
@keyframes leafanimation {
  0% {
    transform: translate(900px, 500px) rotate(0deg);
    color: rgba(255, 0, 0, 0);
  }
  20% {
    transform: translate(850px, 450px) rotate(360deg);
    color: rgba(255, 0, 0, 0);
  }
  40% {
    transform: translate(450px, 200px) rotate(720deg);
    color: rgba(255, 0, 0, 0);
  }
  60% {
    transform: translate(100px, 100px) rotate(1080deg);
    color: rgba(255, 0, 0, 0);
  }
  80% {
    transform: translate(0, 0) rotate(1440deg);
    color: rgba(255, 0, 0, 0);
  }
  100% {
    transform: translate(0, 0) rotate(1440deg);
    color: rgba(255, 0, 0, 1);
  }
}

/******************* MEDIA QUERY **************************/
@media (max-width: 670px) {
  .form-container {
    width: 100%;
  }
}
/* Tablets and under */
@media (max-width: 768px) {
  .root,
  .formWrapper,
  .formContainer,
  .formContainer h2,
  .form,
  .textInput,
  .placeholder,
  .textArea,
  .h2,
  .envelopeContainer,
  .button,
  .inputError,
  .successMessage,
  .grid,
  .imageWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .imageWrapper {
    position: relative;
    left: 150px;
  }

  .formContainer {
    position: relative;
    height: auto;
    max-width: 768px;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    left: 100px;
  }
  .h2 {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .envelopeContainer {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .form {
    position: relative;
    left: 150px;
    top: 0px;
    max-width: 50%;
    margin-bottom: 2px;
    justify-content: center;
  }

  .buttons {
    height: 1px;
    width: 202px;
    position: relative;
    top: 25px;
    left: 15px;

    align-items: center;
    justify-content: center;
  }

  .send {
    position: relative;
    left: 0px;
    top: -22.5px;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
  }
  .textSend {
    position: relative;
    top: -67.5px;
    right: -30px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .imageWrapper {
    position: relative;
    left: 50px;
  }

  .h2 {
    position: relative;
    top:-60px;
  }

  .envelopeContainer {
    position: relative;
    top: -65px;
  }

  .formCardGradient {
    position: relative;
    height:3em;
    top:-70px;
  }

  .formContainer {
    position: relative;
     top:130px;
    height: 660px;
    width: 300px;
    flex-direction: column;
    position: relative;
    left: -596px;
    z-index:0;
  
  }
  .form {
    position: relative;
    left: 150px;
    top: -65px;
    max-width: 50%;
    margin-bottom: 2px;
    justify-content: center;
  }

  .buttons {
    height: 1px;
    width: 202px;
    position: relative;
    top: 25px;
    left: 15px;

    align-items: center;
    justify-content: center;
  }

  .send {
    position: relative;
    left: 0px;
    top: -22.5px;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
  }
  .textSend {
    position: relative;
    top: -67.5px;
    right: -30px;
  }
  .successMessage {
    grid-template-columns: 1fr;
    position: relative;
    top: -145px;
    font-size: 10px;
  }
  .envelopeContainer {
    display: none;
  }
}

@media (max-width: 360px) {
  .imageWrapper {
    position: relative;
    left: 50px;
  }

  .h2 {
    position: relative;
    top: -190px;
  }

  .envelopeContainer {
    position: relative;
    top: -65px;
  }

  .formContainer {
    height: 860px;
    width: 300px;
    flex-direction: column;
    position: relative;
    left: 27px;
  }
  .form {
    position: relative;
    left: 150px;
    top: -65px;
    max-width: 50%;
    margin-bottom: 2px;
    justify-content: center;
  }

  .buttons {
    height: 1px;
    width: 202px;
    position: relative;
    top: 25px;
    left: 15px;

    align-items: center;
    justify-content: center;
  }

  .send {
    position: relative;
    left: 0px;
    top: -22.5px;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
  }
  .textSend {
    position: relative;
    top: -67.5px;
    right: -30px;
  }
  .successMessage {
    grid-template-columns: 1fr;
    position: relative;
    top: -145px;
    font-size: 10px;
  }
  .envelopeContainer {
    display: none;
  }
}
