.root {
  background: linear-gradient(#023047, #61a5c2);
}

.formWrapper {
  min-height: 100vh;
  align-items: center;
  padding: 5rem 3rem;
  background: url(Email.png);
  background-position: center;
  background-size: cover;
}

.formContainer {
  display: grid;
  width: 37.5rem;
  background: var(--white);
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.625rem rgba(17, 34, 68, 0.06);
  animation: slideInFromLeft 3s;
}

.formCardGradient {
  height: 5rem;
  background: linear-gradient(#023047, #61a5c2);
}

.formContainer h2 {
  justify-self: center;
  margin: 2rem 0 0.5rem;
  background: linear-gradient(#023047, #61a5c2);
  color: #ffff;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Bangers', cursive;
}

.form {
  padding: 2rem;
}

.textInput {
  position: relative;
  margin-bottom: 1rem;
}

.textInput input {
  display: block;
  width: 100%;
  padding: 0.6rem;
  border: 0.125rem solid var(--light-grey);
  border-radius: 0.1875rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-purple);
}

.placeholder {
  color: var(--grey);
  opacity: 0.5;
}

.textArea {
  position: relative;
  margin-bottom: 1rem;
}

.textArea textarea {
  display: block;
  width: 100%;
  border: 0.125rem solid var(--light-grey);
  border-radius: 0.1875rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-purple);
  height: 8rem;
}

.button {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom left, #00afb9);
  border: none;
  border-radius: 0.1875rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  font-family:'Bangers', cursive; 
  color: var(--white);
}

.button:hover {
  background: linear-gradient(to bottom left, #023047, #61a5c2);
  color: #ffff;
}

.inputError {
  justify-self: center;
  color: tomato;
  font-weight: 400;
}

.successMessage {
  color: #fcfcfc;
  font-weight: 700;
  justify-self: center;
}
.envelope{
  display: inline-block;
  margin: 0 0.5rem;
  animation:"rollOut";
  margin: 0 0.5rem;
  --animate-duration: 5s;
  
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/******************* MEDIA QUERY **************************/
@media (max-width: 670px) {
  .form-container {
    width: 100%;
  }
}
/* Tablets and under */
@media (max-width: 768px) {
  .root,
  .formWrapper,
  .formContainer,
  .formContainer h2,
  .form,
  .textInput,
  .placeholder,
  .textArea,
  .button,
  .inputError,
  .successMessage,
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .formContainer {
    height: auto;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .formContainer {
    height: 110px;
    width: 300px;
    flex-direction: column;
  }
}
