.navLink{
    color: white;
    font-weight: bold;
    font-size:18px;
    font-family: 'Anton', sans-serif;
    
}
.ul{
    color: white;
    font-weight: bold;
    font-size:14px;
}

.li{
    color: white;
    font-weight: bold;
    font-size:14px;

}