.about {
  padding: 4rem 1rem;

  
}

.h1 {
  color:#21324e;
  text-align: center;
  font-weight: 900;
  margin: 0 0 4rem;
  font-family:'Bangers', cursive; 
  animation: slideInFromBottom 3s;
}

.typewriter{

  text-align: center;
  color:#4bc0ae;
  font-weight: 900;
  margin-top:10px;

  animation: slideInFromBottom 3s;
}
.aboutMeContainer{
  
display:inline-block;

margin-left:0px;
margin-top:0px;
  position:relative;
 
  border-radius: 10px;
  margin-top:12px;


	align-items: flex-end;
	
}




.aboutMeContainer .card {
  
  position:relative;
  overflow:hidden;
  width:350px;
  margin:0 auto;
  background:#333;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  box-shadow:0 10px 40px rgba(0,0,0,.5)
}
.aboutMeContainer:hover {
  z-index:1;
  position:relative;
  top:calc(100% - 2px);

  background: hsla(283, 55%, 91%, 1);

  background: linear-gradient(90deg, hsla(283, 55%, 91%, 1) 0%, hsla(349, 100%, 96%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(283, 55%, 91%, 1) 0%, hsla(349, 100%, 96%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(283, 55%, 91%, 1) 0%, hsla(349, 100%, 96%, 1) 100%);
  transition:0.5s;
  
}

.aboutMeContainer .card .content {
  z-index:2; 
  position:relative;
}

.aboutMeContainer .card:hover  .layer{
  top:0;
}

.aboutMeContainer .card .content p {
  font-size:14px;
  line-height:24px;
  color:#fff;
  
}
.aboutMeContainer .card .content .image {
  width:100px; height:100px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
  border: 4px solid white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
  
}




 .p {

  text-align: left;
  color: #21324e;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 200%;
  padding-left:8px;
}

.photoWrapper {
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 10px;
}

.photoOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.photoWrapper:hover .photoOverlay {
  width: 100%;
}

.iconButton {
  margin: 0.5rem;
}

.photoText {
  position: absolute;
  overflow: hidden;
  top: 90%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.iconButton:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(195, 205, 252, 0.7);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(195, 205, 252, 0.7);
    -webkit-box-shadow: 0 0 0 0 rgba(195, 205, 252, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(195, 205, 252, 0);
    -webkit-box-shadow: 0 0 0 10x rgba(195, 205, 252, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(195, 205, 252, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(195, 205, 252, 0);
  }
}


/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/******************* MEDIA QUERY **************************/
@media (max-width: 670px) {
  .about {
    width: 100%;
  }
}
/* Tablets and under */
@media (max-width: 768px) {
  .about,
  
  .h1,
  
   .p,
  
  .photoWrapper,
  .photoOverlay,
  
  .iconButton,
  
  .photoText
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

 
}

/* Mobile */
@media (max-width: 500px) {
  .formContainer {
    height: auto;
    width: auto;
    flex-direction: column;
  }
}
